:root {
     --main-color: #222220;
     --gold-color: #9D875C;
     --gold-bg: #C1B081;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

